.admin__panel--parents

.week-table
  width: 100%
  height: auto
  margin-top: 15px
  @media ( max-width: 992px )
    display: flex
    flex-flow: row
    position: relative
    padding-left: 100px

  thead
    @media ( max-width: 992px )
      position: absolute
      top: 0
      left: 0

  tr
    @media ( max-width: 992px )
      display: flex
      flex-flow: column
  th,td
    &:first-of-type
      padding-left: 0
      @media ( min-width: 992px )
        padding-left: 5px
  th
    @media ( max-width: 992px )
      height: 60px
      display: flex
      align-items: center

  tbody
    @media ( max-width: 992px )
      display: flex
      flex-flow: row
      overflow-x: auto
      tr
        display: flex
        flex-flow: column
  thead, 
  tbody
    @media ( max-width: 992px )
      th,
      td
        height: 74px
        padding: 7px 7px

  tr:hover td
    background: none !important
  tbody
    .day.empty
      background: #DEE7EE !important
  th
    text-align: left

  th, td
    font-size: 14px
    padding: 9px 0
    
  .day
    width: 145px
    min-height: 60px
    display: flex
    flex-flow: wrap
    align-items: flex-start
    justify-content: space-between
    padding: 5px 7px
    border-radius: 4px

    .course
      width: 100%
      text-align: left

    .time,
    .minutes
      width: 50%
      height: auto
      text-align: left
      position: relative
      padding-left: 20px

    .time
      &::before
        content: ''
        position: absolute
        top: 4px
        left: 0
        width: 14px
        height: 14px
        display: inline-flex
        background: url('../images/dest/clock.svg') no-repeat center
    
    .minutes
      padding-left: 15px
      &::before
        content: ''
        position: absolute
        width: 4px
        height: 4px
        left: 0
        top: 9px
        background: #7175D8
        border-radius: 80px

.slice
  width: 100%
  height: auto
  display: flex
  flex-flow: column
  flex-shrink: 0
  margin-bottom: 40px
  // @media ( min-width: 768px )
  //   max-width: 100%
  @media ( min-width: 992px )
    max-width: 344px
  &__list
    width: 100%
    height: auto
    display: flex
    flex-flow: wrap
    padding: 0
    margin: 0
    @media ( min-width: 768px )
      justify-content: space-between
    @media ( min-width: 992px )
      flex-flow: column
    li
      width: 100%
      height: 97px
      display: flex
      align-items: center
      justify-content: space-between
      background: #FFFFFF
      border: 2px solid rgba(113, 117, 216, 0.2)
      border-radius: 4px
      padding: 14px
      margin: 9px 0
      @media ( min-width: 576px )
        max-width: 221px
        margin-right: 13px
      @media ( min-width: 992px )
        max-width: 100%
        height: 113px
        margin-right: 0
  &-text
    width: 100%
    height: 100%
    display: flex
    flex-flow: column
    justify-content: space-between
    .subject
      width: 100%
      font-weight: bold
      font-size: 16px
      line-height: 1
      color: #050C42
      @media ( min-width: 992px )
        font-size: 20px
    .date, 
    .time
      width: auto
      height: auto
      font-weight: bold
      font-size: 12px
      line-height: 1
      color: #9699AE
      @media ( min-width: 992px )
        font-size: 14px
    .time
      position: relative
      padding-left: 15px
      &::before
        content: ''
        position: absolute
        width: 4px
        height: 4px
        left: 4px
        top: 7px
        background: #7175D8
        border-radius: 80px
    .presence
      width: 100%
      font-weight: 800
      font-size: 14px
      line-height: 1
      color: #5FCBA1
      @media ( min-width: 992px )
        font-size: 16px
    


  &-points
    font-weight: 800
    font-size: 28px
    line-height: 1
    color: #5FCBA1
    @media ( min-width: 992px )
      font-size: 33px

.progress
  width: 100%
  max-width: 603px

.progress,
.rating
  &-table
    width: 603px
    height: auto
    td, th
      font-size: 14px
    th
      padding: 18px 8px
    td
      padding: 10px 8px
    .grades
      text-align: left

  .red
    color: #A95054
  .orange
    color: #E89F57

.rating-table
  width: 500px
  margin: 0 0 35px !important
  .subject,
  .data-time
    text-align: left
  .grades
    text-align: center

.progress
  &-header
    width: 100%
    height: auto
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 20px
    @media ( max-width: 568px )
      flex-flow: column
      h2
        align-self: flex-start
        margin-bottom: 20px !important
    h2
      margin-bottom: 0
    .btns
      width: 268px
      display: flex
      align-items: center
      justify-content: space-between
      .btn
        width: 128px
        height: 36px
        border-radius: 6px
        margin-top: 0

.row-container
  width: 100%
  height: auto
  display: flex
  justify-content: space-between
  flex-flow: column
  @media ( min-width: 992px )
    flex-flow: row
    align-items: flex-start
    
    
.col-container
  width: 100%
  height: auto
  display: flex
  flex-flow: column


.chart
  width: 100%
  height: 305px
  max-width: 710px
  margin: 25px 0 35px
  display: inline-block
  position: relative