.form__student-add:before
  background: url("../images/dest/student-add-big.svg")
  top: 0
  transform: translateY(0)
//.add__panel--student-add
//  textarea
//    height: 43px
//    min-height: 43px
